<div>

    <h2>Enter</h2>

  <form action="/auth/login" method="POST">

    <label for="username">Name: </label>
    <input type="text" name="username"/>
    <br />
    <label for="password">Password: </label>
    <input type="password" name="password"/>
    <br />
    <p>{{messageError}}</p>
    <button>Access</button>

  </form>

</div>